@model StudentInformationSystem.Properties.StudentInfor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h4>StudentInfor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Spassword)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Spassword)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ssex)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ssex)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sdepartment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sdepartment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Smajor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Smajor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sclass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sclass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sgpa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sgpa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Scampus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Scampus)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Sno }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
